<div class="auto-container">
    <div class="row clearfix">
        <!--Content Column-->
        <div class="content-column">
            <div class="inner-box">
                <div class="sec-title" style="width: 100%; text-align: center">
                    <h4 class="title">Commerce</h4>
                    <div class="separator"><span class="flaticon-nature"></span></div>
                </div>
                <div class="texte">
                    <p>
                        La fermeture des commerces de proximité au centre
                        des communes est elle une fatalité?
                        Les centres commerciaux et grandes surfaces sont ils
                        les seuls responsables de cette situation?
                        Pourquoi certaines communes résistent elles là où
                        d’autres échouent? 
                        Nous avons considéré que cette thématique
                        « Commerce&quot;  se devait d’être au centre des
                        réflexions pour l’avenir de Linas. 
                        Développer un centre attractif, donner envie aux
                        habitants de se déplacer au centre de la commune,
                        proposer un espace public de qualité, favoriser le
                        développement de commerces axés sur les nouveaux
                        circuits courts de distribution et plus encore  sont
                        autant de thèmes que nous partagerons avec vous au
                        coeur de cette rubrique.
                    </p>
                </div>
                <div style="width: 100%; margin-top: 30px; text-align: center">
                    <a href="{{ path('donate') }}" class="theme-btn btn-style-two">Faire un Don</a>
                </div>

            </div>
        </div>
    </div>
</div>

