<div class="auto-container">
    <div class="row clearfix">
        <!--Content Column-->
        <div class="content-column">
            <div class="inner-box">
                <div class="sec-title" style="width: 100%; text-align: center">
                    <h4 class="title">Sécurité</h4>
                    <div class="separator"><span class="flaticon-nature"></span></div>
                </div>
                <div class="texte">
                    <p>
                        La sécurité des personnes et des biens est depuis
                        toujours un sujet sensible pour les communes et un
                        enjeu majeur pour les élus. 
                        Face à l’évolution de la délinquance et à la
                        confrontation aux risques, de nouvelles techniques et
                        moyens de lutte sont apparus.
                        Comment lutter contre la petite délinquance
                        (violences au quotidien, rixes, vols, dégradations de
                        biens…),  contre la pollution sonore, la vitesse
                        excessive, les incivilités routières qui ne cessent
                        d’augmenter compte tenu de l’accroissement des flux
                        de circulation au coeur de nos espaces?
                        Faut-il faire le choix de la vidéo-surveillance urbaine
                        pour notre commune ou bien augmenter les moyens
                        humains pour notre Police Municipale ?
                        Tels sont des exemples d'alternative auxquels les
                        communes doivent répondre.
                        Linas n’est pas épargnée par ces difficultés, même si
                        notre commune reste encore privilégiée.
                        Mais son développement annoncé doit nous conduire
                        dès à présent à réfléchir à une stratégie, afin de
                        mettre en oeuvre une véritable démarche de
                        prévention et une politique de sécurité adaptée.

                        Apporter des pistes de réflexion concrètes à ces
                        questions, tel sera notre objectif au sein de cette
                        thématique.
                    </p>
                </div>
                <div style="width: 100%; margin-top: 30px; text-align: center">
                    <a href="{{ path('donate') }}" class="theme-btn btn-style-two">Faire un Don</a>
                </div>

            </div>
        </div>
    </div>
</div>

