<!--urbanisme Section-->

    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Column-->
            <div class="content-column">
                <div class="inner-box">
                    <div class="sec-title" style="width: 100%; text-align: center">
                        <h4 class="title">Urbanisme</h4>
                        <div class="separator"><span class="flaticon-nature"></span></div>
                    </div>
                    <div class="texte">
                        <p>
                            Avec une perspective de 11000 habitants à un
                            horizon 2025, l’Urbanisme est déjà au centre des
                            préoccupations Linoises et ce développement de la
                            commune, inscrit dans le PLU, ne sera pas sans effet
                            pour les Linois dans leur vie au quotidien, au cours
                            des prochaines années…
                            L’urbanisation d’une commune ne peut se limiter à la
                            seule construction et concentration de  logements
                            immobiliers au coeur d’un seul quartier de la
                            commune.
                            Elle doit s’accompagner d’une stratégie globale pour
                            la commune, de réflexions précises sur les besoins
                            en infrastructure (écoles, crèches, terrains de jeux, de
                            sports, etc…).
                            Elle doit également traiter les impacts induits
                            (accroissement des flux de circulation, accueil d’une
                            nouvelle population, déplacements piétonniers,
                            besoin en transport, en professions médicales
                            etc...…).
                            L’attractivité du centre ville, pour une commune
                            comme la nôtre, doit rester une préoccupation
                            majeure et être au coeur des réflexions, afin de tirer
                            localement un total bénéfice économique de
                            l’arrivée de ces nouveaux habitants. 

                            Anticiper est la clé pour réussir cette transformation à
                            laquelle toutes les communes d’Ile-de-France sont
                            plus ou moins confrontées. 
                            Pour ce faire il faudra fixer un cap, construire un plan
                            pluriannuel, dégager des priorités afin de conserver
                            une parfaite maitrise de cette transformation. 
                            Partager avec vous les enjeux de ce développement,
                            rassembler autour d’une démarche  &quot;LINAS CAP
                            2025&quot;, telle sera notre ambition tout au long des
                            articles que nous vous proposerons dans cette
                            thématique Urbanisme / Infrastructure.
                        </p>
                    </div>
                    <div style="width: 100%; margin-top: 30px; text-align: center">
                        <a href="{{ path('donate') }}" class="theme-btn btn-style-two">Faire un Don</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

<!--End urbanisme Section-->