{% extends 'base.admin.html.twig' %}

{% block title %}Administration - Linas autrement!{% endblock %}

{% block body %}

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        {% include 'admin/header.html.twig' %}
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1> </h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active"></li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="card" style="margin-left: 60px; margin-right: 60px; margin-bottom: 120px;">
                <div class="card-header">
                    <strong class="card-title">Nouveau</strong>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_widget(form) }}
                    </div>
                    <div class="form-group mt-5">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Enregistrer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>




    </div><!-- /#right-panel -->

    <!-- Right Panel -->

{% endblock %}

{% block javascripts %}

{% endblock %}